.reserv__item {
    min-height: 715px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1079px) {
    .reserv__item {
        min-height: 670px;
        align-items: center;
        padding-top: 50px;
    }
}