.reserv__container {
    display: flex;
    gap: 24px;
    margin: 88px 0 0;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .reserv__container {
        margin: 0;
        gap: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .reserv__container {
        flex-direction: column;
    }
}