.title_place_intro {
    font-size: 48px;
    max-width: 587px;
}

@media screen and (max-width: 1279px) {
    .title_place_intro {
        font-size: 40px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 1024px) {
    .title_place_intro {
        font-size: 48px;
        text-align: center;
    }
}