.benefit__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1023px) {
    .benefit__container {
        align-items: center;
    }
}