.about {
    max-width: 1200px;
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
    gap: 126px;
}

@media screen and (max-width: 1219px) {
    .about {
        max-width: 90%;
    }
}

@media screen and (max-width: 1023px) {
    .about {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }
}