.button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #0E1734;
    padding: 14px 16px;
    color: #fff;
}

.button:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}